
#hero-main-light{
    background-image: url(../../src/assets/images/bg/light-hero.jpg);
}

.gif-anime{
    /* border: 2px solid yellow; */
    /* height: 42rem; */
    width: 34rem;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .Typewriter__cursor {
    animation: blink 1s infinite; /* Adjust the duration as needed */
  }
  