
#hero-main-light {
  background-image: url('@/assets/images/light-hero.jpg');
}

.gif-anime{
    width: 34rem;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .Typewriter__cursor {
    animation: blink 1s infinite;
  }
  

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-slide {
    animation: slide 22s linear infinite;
  }
  

/* New slide animation for left to right */
@keyframes slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-reverse {
  animation: slide-reverse 22s linear infinite;
}

@keyframes spin-border {
  to {
    --angle: 360deg;
  }
}

.animated-border {
  --angle: 0deg;
  background: conic-gradient(from var(--angle), #B425D5, #FB5582, #B425D5);
  padding: 2px; /* border width */
  border-radius: 9999px; /* fully rounded */
  animation: spin-border 2.5s linear infinite;
  background-size: 100% 100%;
}

.animated-border-inner {
  background: #000; /* or any solid background */
  border-radius: inherit;
}

.gradient-fill-dark {
  background: linear-gradient(
    180deg,
    rgba(25, 27, 31, 0.0) 0%,      /* Fully transparent at the top */
    rgba(25, 27, 31, 0.4) 10%,     /* Slightly darker */
    rgba(25, 27, 31, 0.64) 30%,    /* Mid-dark */
    rgba(0, 0, 0, 1) 67%           /* Fully black at bottom */
  );
}

.gradient-fill-light {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0) 0%,      /* Fully transparent at the top */
    rgba(255, 255, 255, 0.4) 10%,     /* Slight white tint */
    rgba(255, 255, 255, 0.64) 30%,    /* Mid-opacity white */
    rgba(255, 255, 255, 1) 67%        /* Fully white at the bottom */
  );
}



