
#hero-main-light {
  background-image: url('@/assets/images/light-hero.jpg');
}

.gif-anime{
    /* border: 2px solid yellow; */
    /* height: 42rem; */
    width: 34rem;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .Typewriter__cursor {
    animation: blink 1s infinite; /* Adjust the duration as needed */
  }
  

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-slide {
    animation: slide 20s linear infinite;
  }
  