@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }


  @layer base {
    h1 {
      @apply text-4xl font-bold ;
    }
    h2 {
      @apply text-3xl font-semibold ;
    }
    h3 {
      @apply text-2xl font-medium ;
    }
    h4 {
      @apply text-xl font-medium;
    }
    h5 {
      @apply text-lg font-normal;
    }
    h6 {
      @apply text-base font-normal;
    }
  }
  
#root {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

:root {
  --glass-primary: 240 100% 70%;   /* Blue-ish */
  --glass-secondary: 300 80% 60%;  /* Purple-ish */
}

.parent-card-global-subtle {
  background: radial-gradient(
    circle at top center,
    rgba(60, 91, 164, 0) 10%,
    rgba(60, 91, 164, 0.4) 30%,
    rgba(60, 91, 164, 0) 70%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 1rem;
}


.main-container, 
.container, 
main, 
section {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}